<%- include('partials/header') %>
<div id="home">
  <h1 class="center">Welcome Prairie Rose Preserving</h1>
  <h3 class="center">A Mother's Food Preservation Hotspot</h3>
  <p class="center">
    Up in the frigid northern state Minnesota's not so frigid southern parts is where the operation takes place. Some called me crazy for setting up
    in such a place where people do live but not as many as some other places. Yet Minnesota is a simple place, with simple honest people some who say
    "sorry" a lot. Also there is a bag milk in the convience stores. I saw it. Why is there milk in a bag? Just why?
  </p>
</div>
<%- include('partials/footer') %>