
nav {
  background-color: blueviolet;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}
#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

.input-field{
  display: inline-block;
  width: 50px;
}
.input-field + input {
  margin-left: 20px;
}
.productBox{
  background-color:mintcream;
  padding: 20px;
}
.productBox:after{
    clear: both;
    content: "";
    display: block;
}
#showbox{
  font-size: 20px;
}
body {
  background-image: url("https://i.imgur.com/lLvbFLq.jpg");

}
form {
  padding:20px;
}

table {
  width: 100%;
}