<%- include('../partials/header') %>
<div>
  This is the new item page
</div>
<form id="new-form" action="/products" method="POST">
    <label>Product Name</label>
    <input type="text" name="name">
    <label>Description:</label>
    <input type="text" name="description">
    <label>Price:</label>
    <input type="number" name="price">
    <label>ProductId:</label>
    <input type="number" name="productId">
    <input type="submit" value="Add Product">
  </form>
  

<%- include('../partials/footer') %>