<%- include('../partials/header') %>
<div>
  This is the new item page
</div>
<form id="new-form" action="/products" method="POST">
    <label>Product Name</label>
    <input type="text" name="name">
    <label>Price:</label>
    <input type="number" name="price">
    <label>ProductId:</label>
    <input type="number" name="productId">
    <label>Product Description</label>
    <textarea name="description" form="new-form">Enter text here...</textarea><br>
    <input type="submit" value="Add Product">
    <label>imageUrl from imgur</label>
    <input type="text" name="imageUrl">
  </form>
  
  

<%- include('../partials/footer') %>

imageUrl