<%- include('../partials/header') %>
<div>
  This is the new item page
</div>
<form id="new-form" action="/products" method="POST">
    <label>Product Name</label>
    <input type="text" name="name">
    <label>Description:</label>
    <input type="text" name="description">
    <label>Price:</label>
    <input type="currency" name="price">
    <label>Quantity Available:</label>
    <input type="number" name="quantity">
    <input type="submit" value="Add Product">
  </form>
  

<%- include('../partials/footer') %>